[default]
txt,text = "Text File"
xml = "XML file"
xhtml,html = "HTML file"
css = "CSS file"
js = "JavaScript style file"
java = "Java Language file"
cs = "C# Langugae file"
py = "Python file"
config = "Configuration file"
bak = "Backup file"
tmp = "Temparory file"
tar = "Compressed tar file"
zip = "Compressed zip file"
gzip = "Compressed gzip file"
gz = "Compressed gz file"


[others]
init = "Startup file"
ini = "Configuration file"
